body {
    background-color: #ebeff2;
    font-size: 16px;
}

thead tr {
    background-color: #ebeff2;
    height: 40px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.main-wrap {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;   
}

.bs4-btn {
    font-size: 16px;
    height: 34px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bs4-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.bs4-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.bs4-btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.bs4-btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.styled-block {
    background-color: #fff;
    border: 2px solid #ebeff2;
    border-radius: 5px;
    padding: 20px;   
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
